trunk/Complex Network/AnalyzerFramework/Service References/ServiceReference1/RandomGraph.Common.Model.Status.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RandomGraph.Common.Model.Status" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RandomGraph.Common.Model.Status" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GraphProgressStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GraphProgress" type="tns:GraphProgress" />
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Percent" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TargetName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GraphProgressStatus" nillable="true" type="tns:GraphProgressStatus" />
  <xs:simpleType name="GraphProgress">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Initializing" />
      <xs:enumeration value="Ready" />
      <xs:enumeration value="StartingGeneration" />
      <xs:enumeration value="Generating" />
      <xs:enumeration value="GenerationDone" />
      <xs:enumeration value="GenerationFailed" />
      <xs:enumeration value="StartingAnalizing" />
      <xs:enumeration value="Analizing" />
      <xs:enumeration value="AnalizingDone" />
      <xs:enumeration value="AnalizingFailed" />
      <xs:enumeration value="Done" />
      <xs:enumeration value="Paused" />
      <xs:enumeration value="Stopped" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="Calculating" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GraphProgress" nillable="true" type="tns:GraphProgress" />
</xs:schema>