AnalyzerFramework/Service References/ServiceReference1/ComplexNetwork.Ysu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ComplexNetwork.Ysu" elementFormDefault="qualified" targetNamespace="http://ComplexNetwork.Ysu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RandomGraph.Common.Model" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RandomGraph.Core.Events" />
  <xs:element name="StopAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopInstanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PauseAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PauseAllResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PauseInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PauseInstanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinueAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinueAllResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinueInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinueInstanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RandomGraph.Common.Model" minOccurs="0" name="modelFactory" nillable="true" type="q1:AbstractGraphFactory" />
        <xs:element minOccurs="0" name="startIndex" type="xs:int" />
        <xs:element minOccurs="0" name="endIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProgressReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RandomGraph.Common.Model" minOccurs="0" name="model" nillable="true" type="q2:AbstractGraphModel" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RandomGraph.Core.Events" minOccurs="0" name="args" nillable="true" type="q3:GraphProgressEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>