AnalyzerFramework/Service References/ServiceReference1/System.Collections.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BitArray">
    <xs:sequence>
      <xs:element name="_version" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_array" nillable="true" type="q1:ArrayOfint" />
      <xs:element name="m_length" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BitArray" nillable="true" type="tns:BitArray" />
</xs:schema>